=render "posts/header"
.mypage
  -# 左メニュ-
  = render "profiles/menu"
  -# 右側
  = render "part_deli_info"
-# フッター -----------------------------------------------------------------
=render "posts/app-banner"
=render "posts/footer"