.new__main__row
  .new__main__row__text
    %ul.texts
      %li.text
        %h2.text__list 
        %ul 
          %li
            %a{href:"#"} プライバシーポリシー
          %li
            %a{href:"#"} FURIMA利用規約
          %li
            %a{href:"#"} 特定商取引に関する表記
    .new__main__row__text__logo
      %a{href:"#"} 
        = image_tag 'logo.png', alt: 'no image', class: 'img'
    %p &copy; FURIMA