body{
  font-family: Source Sans Pro, Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}

// メイン---------------------------------------------------
.mypage {
  background-color: #f5f5f5;
  display:flex;

  a {
    text-decoration: none;
  }
  a {
    color: black;
  }

// 左メニューバー --------------------------------------------
  .leftmenu {
    padding-top: 100px;
    margin-left: 250px;
    margin-right: 150px;
    width: 250px;
    &__ul {
      background-color:#fff;
      box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
      width:300px;
      &__li {
        padding:0 10px;
        line-height: 50px;
        border-bottom:solid;
        border-bottom-color: #f5f5f5;
        .menu-content {
          display: flex;
          justify-content: space-between;
          .angle-icon{
            line-height: 50px;
            font-size: 20px;
          }
        }
      }
      &__li:hover {
        background-color:#d3d3d3;
      }
    }
  }
}


// アカウント画面-------------------------------------------
.mypage__right {
  margin: 100px 0 200px 0;
  width: 600px;
  height: 420px;
  background-color:#fff;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.4);

  &__box {
    background-image: image-url( "p_pt_0011_m_pt_00110.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 220px;
    padding-top:50px;
    text-align: center;

    &__image {
      margin:0 auto;
      .profile_now_img {
        border-radius: 50%;
        height: 110px;
        width: 110px;
      }
    }

    &__nickname {
      margin-top: 2px; 
    }

    &__exhibition {
      margin: 6px 0 20px;
    }
  }

  .mypage__right__box__text {
    border: 1px solid;
    border-color: #d3d3d3;
    width: 500px;
    height: 160px;
    margin: 20px 50px;
    padding: 5px 5px 5px 5px;
  }
}
