.main-header {
  padding: 0 60px;
}

.header{
  
  margin: 0 auto;
  width: 100%;
  max-width: 1040px;
  min-height: 80px;
  padding: 15px 0 0;

  &__main{
    display: flex;
    align-items: center;

    &__logo{
      margin-right: 30px;
      padding-bottom: 10px;
    img{
      width: 140px;
      vertical-align: bottom;
    }
  }
  &__search{
    display: flex;
    width: 100%;

  input{
    width: calc(100% - 26px);
    height: 36px;
    padding: 0 0 0 5px;
    width: 100%;
    }

  button{
    height: 36px;
    width: 36px;
    border: 0;
    cursor: pointer;
    background-color: #3CCACE;
    padding: 8px;

    img{
      width: 100%;
        }
      }
    }
  }


  &__navi{
    display: flex;
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 34px;

    &--left{
      display: flex;
      position: relative;
      ul{
        display: flex;

        li{
         
          a{text-decoration: none;color:#333;}
        }

        .brand{
          margin-left: 20px;
        }
      }
    }

    &--right{
      margin-left: auto;
      display: flex;
      position: relative;

      ul{
        display: flex;

        li{
          margin-left: 20px;

          a{text-decoration: none;color:#333;}
        }
      }
    }
  }
}
/*ここからmain-------------------------------------------------*/

.main{

  .main__contents{
    background-position: top center;
    background-size: cover;
    height: 85vh;
    background-image:image-url('bg-mainVisual-pict_pc.jpg');

    padding: 0 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__message{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 60px;
      line-height: 1.2;
      color: #fff;
    }

    &__discription{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 18px;
      color: #fff;
      line-height: 1.77778;
      margin: 16px 0 0 0;
    }

    &__app-btn{
      margin: 24px 0 0 0;
      ul{
        width: 40%;
        display: flex;

        li{
          margin-right: 10px;
          
          a{display: block;
            }

          img{
            width: 100%;
            vertical-align: bottom;
          }
        }
      }
    }
}

}

// /*ここからtop1-------------------------------------------------*/

// .main__contents--top{
//   padding: 5vw;
//   .top__title{
//     text-align: center;
//     font-size: 26px;
//     line-height: 1.4;
//     font-weight: bold;
//     margin-bottom: 25px;
//     padding-bottom: 15px;
//     position: relative;

//   }

//   .top__title::after{
//     content: "";
//     width: 70px;
//     height: 4px;
//     background-color: #3CCACE;
//     position: absolute;
//     bottom: 0;
//     left: 50%;
//     transform: translateX(-50%);
//   }

//   .top__lists{

//     text-align: center;
//     display: flex;
//     max-width: 1020px;
//     width: 100%;
//     margin: 0 auto;

//     .list{
//     width: 30%;
//     margin: 16px 5% 0 0;
//     text-align: left;
//     display: flex;
//     flex-direction: column;
//     align-items: center;

//     &__picture{
//       position: relative;
//       margin-bottom: 20px;

//       .number{
//         display: inline-block;
//         position: absolute;
//         top: 0;
//         left: 0;
//         border-radius: 4%;
//         font-size: 30px;
//         text-align: center;
//         margin: 0 5px 0 0;
//         padding: 10px 20px;
//         background-color: #3CCACE;
//         color: #fff;
//       }

//         img{
//           width: 100%;
//           vertical-align: bottom;
//         }
      
//     }

//     &__title{
//       font-weight: bold;
//       font-size: 24px;
//       line-height: 50px;
//       margin: 0 0 0 2px;

//       span{
//         color: #3CCACE;
//       }
//     }

//     &__discription{
//       font-size: 18px;
//     line-height: 1.5;
//     margin: 16px 0 0;
//       }
//     }
//     .list--last{
//     margin: 16px 0 0;
//     }
//   }
// }