.main-top {
  background-color: #f8f8f8;
  .mainVisual{
    background-image: image-url( "bg-mainVisual-pict_pc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 560px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 60px;
    &__content{
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0;
      &__subtitle{
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      &__text{
        margin: 16px 0 0 0;
        font-size: 18px;
        color: #fff;
        line-height: 1.77778;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      &__badges{
        display: flex;
        margin: 24px 0 0 0;
        a{
          margin:0 5px 0 5px;
          img{
            width: 180px;
            vertical-align: bottom;
          }
          img:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }
// メイン-イントロダクション,選ばれる理由
  .mainIntro{
    padding: 60px 20px;
    &__subtitle{
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    &__subtitle::after{
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    .lists{
      text-align: center;
      display: flex;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;
      .list{
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__pic{
          position: relative;
          margin-bottom: 20px;
          &__number{
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
          img{
            width: 100%;
            vertical-align: bottom;
          }
        }
        &__text{
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
          span{
            color: #3CCACE;
          }
        }
        &__description{
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }
      .list--last{
        margin: 16px 0 0;
        width: 30%;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
// メイン-写真と会員数
  .mainMiddle{
    background-image: image-url( "bg-topMiddleDl-pict.jpg");
    background-size: cover;
    background-position: bottom right;
    height: 400px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    &__content{
      max-width: 1040px;
      margin: 0 auto;
      text-align: left;
      color: #FFF;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      width: 100%;
      &__subtitle{
        font-size: 27px;
        line-height: 1.4;
        font-weight: bold;
      }
      &__text{
        margin: 20px 0 30px;
        font-size: 18px;
        color: #fff;
        line-height: 1.5;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      &__badges{
        display: flex;
        a{
          margin-right: 10px;
          img{
            width: 180px;
            vertical-align: bottom;
          }
          img:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }

// メイン-特徴
  .mainKey{
    background-color: #FFF;
    padding: 60px 100px;
    &__head{
      text-align: center;
      font-size: 27px;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    &__head::after{
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    .items{
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      .item{
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;
        &__img{
          width: 70%;
          margin: 0 auto;
          line-height: 120%;
          img{
            width: 100%;
            vertical-align: bottom;
          }
        }
        &__subtitle{
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        &__detail{
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
      .item{
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;
        &__img{
          width: 70%;
          margin: 0 auto;
          line-height: 120%;
          img{
            width: 100%;
            vertical-align: bottom;
          }
        }
        &__subtitle{
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        &__detail{
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
      .item{
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;
        &__img{
          width: 70%;
          margin: 0 auto;
          line-height: 120%;
          img{
            width: 100%;
            vertical-align: bottom;
          }
        }
        &__subtitle{
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        &__detail{
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
  }

// メイン--ピックアップ
  .mainPickup{
    padding: 80px 0 0;
    background-color: #f8f8f8;
    height: 100%;
    
    // 3列目表示以降なし仮
    max-height: 730px;
    overflow: hidden;
    &__head{
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    &__productBox{
      margin: 0;
      padding: 0;
      &__productHead{
        text-align: center;
        a{
          font-size: 24px;
          text-decoration: none;
          color: #3CCACE;
          .mainPickup__productBox__productHead__title{
            font-weight: bold;
          }
        }
      }
      &__productLists{
        width: 780px;
        margin: 26px auto;
        display: flex;        
        flex-wrap: wrap;
        a {
          color: black;
          text-decoration: none;
        }
      }
    }
  }
  .mainPickup:last-child{
    padding-bottom: 80px;
  }
}

.post-item-box {
  background-color: #ffffff;
  height: 220px;
  margin: 10px;
  &__image{
    position: relative;
    margin: 0px;
    height: 160px;
    width: 160px;
    text-align: center;

    position: relative;
    .sold_comment {
      position: absolute;
      top: 0;
      left: 0;
      background-color: red;
      color: #fff;
      padding: 5px 5px;
    }
    .img {
      max-width: 160px;
      max-height: 160px;
    }
    &__price {
      position: absolute;
      bottom: 15px;
      left: 0px;
      padding: 2px;
      background-color: white;
      border-radius: 10px;
      opacity: 0.75;
    }
  }
  &__name {
    font-size: 14px;
    padding: 5px;
    width: 160px;
    height: 60px;
  }
}



// .mainPickup__productBox__productLists__list__list--img{
//   width: 220px;
//   height: 150px;
//   position: relative;
//   overflow: hidden;
//   margin: 0;
//   z-index: auto;
//   background-color: #fff;
//   .mainPickup__productBox__productLists__list__list--img__sold{
//     width: 0;
//     height: 0;
//     border-top: 60px solid #ea352d ;
//     border-right: 60px solid transparent;
//     border-bottom: 60px solid transparent;
//     border-left: 60px solid #ea352d ;
//     z-index:100;
//     position: relative;
//       &__inner{
//         transform: rotate(-45deg);
//         font-size: 25px;
//         margin:-30px 0px 0px -55px;
//         color: #fff;
//         letter-spacing: 2px;
//         font-weight: 600;
//       }
//     }
// }
