
* {
  box-sizing: border-box;
}

@mixin box-style {
  font-size:16px;
  padding-left:10px;
  margin-top:5px;
  width:300px;
  height: 40px;
  border-radius:5px;
}

@mixin birthday-box-style {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 80px;
  height: 40px;
  padding-left: 30px;
}

.birth-box {
  margin-top:10px;
}

// メイン --------------------------------------
.user__info {
  margin: 100px 0 150px 0;
  width: 600px;
  background-color:#fff;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.4);

// ヘッダー-----------------------------------
  &__header {
    text-align: center;
    &__title {
      height: 60px;
      line-height: 60px;
      font-size: 25px;
      font-weight: bold;
      border-bottom: solid;
      border-bottom-color: #f5f5f5;
    }
    &__explanation {
      font-size: 16px;
      margin-top: 30px
    }
  }

// エラ〜メッセージ-------------------------------


// 入力項目---------------------------------------
  &__main {
    margin:30px 100px 0 150px;
    .label_content {
      display: flex;
      .label {
        font-size:16px;
      }
      .required-mark {
        margin-left:15px;
        font-size:12px;
        background-color:red;
        border-radius:5px;
        padding: 2px 5px;
        color:#fff;
      }
      .any-mark {
        margin-left:15px;
        font-size:12px;
        background-color:#d3d3d3;
        border-radius:5px;
        padding: 2px 5px;
        color:#fff;
      }
    }
    .field {
      margin-bottom: 25px;
      .box-style{
      @include box-style;
      }
      .state-box-style{
        @include box-style;
      }
      .button {
        font-size:16px;
        padding-left:10px;
        margin:30px 0 30px;
        width:300px;
        height: 40px;
        border-radius:5px;
        background-color: #3CCACE;
      }
    }
  }
}

// 誕生日入力クラス----------------------------
.year {
  @include birthday-box-style;
}

.month {
  @include birthday-box-style;
}

.day {
  @include birthday-box-style;
}