%aside.app-banner
  .inner
    %h2 だれでもかんたん、人生を変えるフリマアプリ
    %p 今すぐ無料ダウンロード！
    .inner__badges
      %a{href:"#"}
        %img{ src: "/assets/download-on-the-app-store-apple.svg", alt: ""}
      %a{href:"#"}
        %img{ src: "/assets/google-play-badge.svg", alt: ""}