%aside.app-banner
  .inner
    %h2 だれでもかんたん、人生を変えるフリマアプリ
    %p 今すぐ無料ダウンロード！
    .inner__badges
      %a{href:"#"}
        = image_tag 'download-on-the-app-store-apple.svg', alt: 'no image', class: 'img'
      %a{href:"#"}
        = image_tag 'google-play-badge.svg', alt: 'no image', class: 'img'